html, body {
    font-family: "Gotham 4r",Verdana;
    margin: 0;
    overflow-x: hidden;
}

#alert-container {
    background-color: #FBF5F4;
    display: flex;
    border: 1px solid #ccc;
}

#alert-container img {
    margin-right: 10px;
    padding-bottom: 20px;
}

#alert-container a {
    color: #0074ad;
}

#alert-container a:hover {
    color: #003B71;
}

#view-alerts-container {
    padding: 25px 0px 10px 15px;
    display: flex;
}

#view-alerts-container button {
    border: 1px solid #000;
    background-color: #FBF5F4;
    border-radius: 30px;
    font-size: 14px;
    padding: auto 10px auto 10px;
    width: 150px;
    height: 40px;
}

#one-of-two {
    text-align: center;
    width: 60px;
    font-size: 12px;
}

#view-alerts-container button:hover {
    text-decoration: underline;
}

#previous-button {
    opacity: 40%;
}


#view-alerts-container p {
    margin: 10px 10px 0px 10px;
}

#view-alerts-container a {
    margin: 12px 10px 0px 10px;
    font-size: 12px;
    text-decoration: none;
    width: 100px;
}

#alert-description {
    width: 70%;
    font-size: 13px;
}

.container-4c {
    margin: 0% 0% 3% 10%;
    overflow: hidden;
}

#health-and-wellness {
    position: relative;
    width: 45%;
    padding-top: 70px;
}

#health-and-wellness p {
    width: 80%;
    position: relative;
}

.container-4c h1 {
    font-size: 40px;
    color: #0d1c3d;
}

.container-4c p {
    font-size: 18px;
}

.container-4c img {
    pointer-events: none; 
    z-index: -1;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
    top: 300px;
    right: 0px;
}

#mobile-image {
    display: none;
}

.container-5c {
    margin: 13% 0% 2% 10%;
}

.container-5c button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 0px;
}

.container-5c button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

.container-6c {
    margin-left: 10%;
    margin-bottom: 5%;
}

#healthy-spotlight {
    display: flex;
    margin-bottom: 40px;
}

#healthy-spotlight img {
    margin-right: 10px;
}

#row {
    display: flex;
}

.column {
    height: auto;
}

.column a {
    text-decoration: none;
    color: #000;
}

.column a:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

.container-7c {
    background-color: #f2f8fb;
    display: flex;
    padding: 5% 0% 3% 10%;
}

.container-7c button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

#browse-topics {
    width: 49%;
    padding: 0% 0% 2% 4%;
}

#browse-topics button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;   
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 0px;
}

#show-more {
    margin: 30px 0px 0px 0px;
    color:#0074ad;
    text-decoration: underline;
}

#show-more:hover {
    color: #0d1c3d;
    cursor: pointer;
    transition: 0.2s;
}

#show-more-topics {
    display: none;
}

.container-8c {
    display: flex;
    margin: 80px 0px 80px 10%;
}

.container-8c button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 0px;
}

.container-8c button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

#care-for-yourself img {
    width: 40px;
    height: 40px;
    margin: 12px 10px 0px 0px;
}

.container-8c p {
    font-size: 20px;
}

#allergy-season {
    width: 60%;
    margin-top: 100px;
}

#care-for-yourself {
    display: flex;
}

.container-9c {
    padding: 60px 0px 0px 10%;
    display: flex;
    background-color: #f2f8fb;
}

#search-for-classes {
    width: 70%;
}

#search-for-classes a {
    color: #0074ad;
}

#search-for-classes p {
    margin-bottom: 30px;
    width: 70%;
}

#search-for-class-header {
    display: flex;
}

#search-for-class-header img {
    margin-right: 10px;
}

#class-search-column {
    margin: 0px 20px 20px 0px;
}

#class-search-column h5 {
    margin: 0px 0px 5px 0px;
}

#class-search-column input {
    width: 400px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}

#class-search-column select {
    width: 400px;
    height: 55px;
    font-size: 18px;
    padding-left: 10px;
}

#class-search-row {
    display: flex;
}

#class-search-row button {
    font-size: 18px;
    border: 1px solid #0d1c3d;
    border-radius: 35px;
    padding: 13px 15px 13px 15px;
    color: #0d1c3d;
    background-color: #f2f8fb;
    margin: 25px 5px 0px 0px;
    height: 50px;
}

#class-search-row button:hover {
    border: 2px solid #0074ad;
}

#class-search-row select:hover {
    cursor: pointer;
}

#woman-exercising {
    height: 350px;
    width: 450px;
    position: relative;
    right: 100px;
}

.container-10c {
    padding-left: 10%;
}

#tools-for-you-header {
    display: flex;
    font-size: 20px;
}

#tools-for-you-header h3 {
    margin-left: 10px;
}

.tools-row {
    display: flex;
}

.tools-column {
    border: 1px solid #0d1c3d;
    border-radius: 6px;
    padding: 10px 10px 20px 10px;
    width: 26%;
    margin: 10px;
}

.tools-column h4 {
    font-size: 20px;
}

.tools-column a {
    text-decoration: none;
    color: #0074ad;
    vertical-align: text-bottom;
}

#view-more-tools {
    margin: 30px 0px 0px 0px;
    color:#0074ad;
    text-decoration: underline;
}

#view-more-tools:hover {
    color: #0d1c3d;
    cursor: pointer;
    transition: 0.2s;
}

.container-11c {
    margin: 80px 0% 0% 10%;
}

#related-articles-header {
    display: flex;
}

#related-articles-header img {
    margin-right: 10px;
}

#related-articles-header h3 {
    font-size: 26px;
}

#related-articles-header button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 8px 18px 8px 18px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 57%;
}

#related-articles-header button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

#articles-container p {
    padding: 10px;
}

#articles-container a {
    text-decoration: none;
    color: #000;
}

#articles-container a:hover {
    text-decoration: underline;
}

#selected-topic {
    font-weight: bold;
    border-left: 3px solid #0074ad;
}

.related-articles-row {
    display: flex;
}

.related-articles-column {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    width: 332px;
    margin-right: 20px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    bottom: 310px;
    left: 300px;
}

.related-articles-column img {
    width: 432px;
    height: 200px;
}

.related-articles-column h5 {
    font-size: 13px;
    padding: 0px 10px 0px 10px;
}

.related-articles-column h2 {
    font-size: 18px;
    padding: 0px 10px 0px 10px;
}

#view-all-button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 12px 18px 12px 18px;
    color: #0074ad;
    background-color: #fff;
    bottom: 300px;
    left: 680px;
    position: relative;
}

select:hover {
    border: 2px #0074ad solid;
}

#back-to-top {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 12px 18px 12px 18px;
    color: #0074ad;
    background-color: #fff;
    bottom: 210px;
    left: 300px;
    position: relative;
}

.container-12c {
    padding: 40px 0px 80px 10%;
    background-color: #f2f8fb;
}

#care-header {
    font-size: 20px;
    margin-bottom: 40px;
}

#care-row {
    display: flex;
}

.care-column {
    width: 30%;
}

.care-column-header {
    display: flex;
    font-size: 18px;
}

.care-column img {
    margin-right: 10px;
}

.care-column button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 12px 18px 12px 18px;
    color: #0074ad;
    background-color: #fff;
}

.care-column button:hover {
    text-decoration: underline;
}

.lower-button {
    margin: 16px 0px 0px 0px;
}

.container-13c {
    padding: 3% 0% 0% 10%;
    background-color: #003B71;
}

#glossary-row {
    display: flex;
}

.glossary-column {
    margin: 0px 70px 0px 0px;
    color: #fff;
}

.glossary-column h5 {
    font-size: 18px;
}

.glossary-column a {
    text-decoration: none;
    color: #fff;
}

/* Media Queries */

@media screen and (max-width: 1642px) {
    .container-4c img {
        top: 360px;
    }
}

@media screen and (max-width: 1470px) {
    #health-and-wellness {
        width: 30%;
        padding-top: 30px;
    }

    #woman-exercising {
        display: none;
    }
}

@media screen and (max-width: 1420px) {
    #alert-container {
        padding-left: 7%;
    }
}

@media screen and (max-width: 1370px) {
    #alert-container {
        padding-left: 5%;
    }
}

@media screen and (max-width: 1339px) {
    #alert-container {
        padding-left: 3%;
    }
}


@media screen and (max-width: 1120px) {
    .container-4c img {
        right: unset;
    }

    #health-and-wellness {
        width: 70%;
    }
}


@media screen and (max-width: 1060px) {
    .container-4c {
        text-align: center;
        margin-left: 0;
    }

    .container-4c img {
        display: none; 
        position: unset;
    }

    #mobile-image {
        display: unset;
        width: 100%;
        height: 700px;
        margin-left: 0%;
    }

    #health-and-wellness {
        width: 90%;
        margin-left: 6%;
    }

    #health-and-wellness p {
        width: 100%;
    }

    .container-6c {
        margin-left: 5%;
    }

    #row {
        display: unset;
    }

    .column {
        width: 95%;
    }

    .column img {
        width: 100%;
        height: 500px;
    }

    .container-8c {
        display: unset;
    }

    .container-8c img {
        margin-left: 5%;
    }

    #allergy-season {
        margin-bottom: 40px;
        margin-left: 5%;
        width: 80%;
    }

    .container-9c {
        padding: 0% 0% 5% 3%;
    }

    #class-search-row button {
    }
    
    #tools-for-your-header {
       
    }
    
    .container-10c {
        padding-left: 5%;
    }

    .container-11c {
        margin-left: 5%;
        margin-bottom: 8%;
    }

    .related-articles-column {
        position: unset;
    }


    #view-all-button {
        position: unset;
    }
    
    #back-to-top {
        position: unset;
        margin-left: 55%;
    }
}
