html, body {
    font-family: "Gotham 4r",Verdana;
    margin: 0;
}

.container-4c {
    display: flex;
    margin: 0% 0% 3% 10%;
    overflow: hidden;
    
}

#health-and-wellness p {
    width: 80%;
}

.container-4c h1 {
    font-size: 40px;
    color: #0d1c3d;
}

.container-4c p {
    font-size: 18px;
}

.container-4c img {
    pointer-events: none; 
    width: 50%;
    height: 50%;
    z-index: -1;
    object-fit: cover;
}

.container-5c {
    margin: 0% 0% 2% 10%;
}

.container-5c button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 0px;
}

.container-5c button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

.container-6c {
    margin-left: 10%;
    margin-bottom: 5%;
}

#healthy-spotlight {
    display: flex;
    margin-bottom: 40px;
}

#healthy-spotlight img {
    margin-right: 10px;
}

#row {
    display: flex;
}

.column {
    height: auto;
}

.column a {
    text-decoration: none;
    color: #000;
}

.column a:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

.container-7c {
    background-color: #f2f8fb;
    display: flex;
    padding: 5% 0% 3% 10%;
}

.container-7c button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

#browse-topics {
    width: 49%;
    padding: 0% 0% 2% 4%;
}

#browse-topics button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 0px;
}

#show-more {
    margin: 30px 0px 0px 0px;
    color:#0074ad;
    text-decoration: underline;
}

#show-more:hover {
    color: #0d1c3d;
    cursor: pointer;
    transition: 0.2s;
}

#show-more-topics {
    display: none;
}

.container-8c {
    display: flex;
    margin: 80px 0px 80px 10%;
}

.container-8c button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 0px;
}

.container-8c button:hover {
    text-decoration: underline;
    color: #0074ad;
    transition: 0.5s;
}

#care-for-yourself img {
    width: 40px;
    height: 40px;
    margin: 12px 10px 0px 0px;
}

.container-8c p {
    font-size: 20px;
}

.container-8c img {
    
}

#allergy-season {
    width: 60%;
    margin-top: 100px;
}

#care-for-yourself {
    display: flex;
}

.container-9c {
    padding: 60px 0px 0px 10%;
    display: flex;
    background-color: #f2f8fb;
}

#search-for-classes {
    width: 70%;
}

#search-for-classes a {
    color: #0074ad;
}

#search-for-classes p {
    margin-bottom: 30px;
    width: 70%;
}

#search-for-class-header {
    display: flex;
}

#search-for-class-header img {
    margin-right: 10px;
}

#class-search-column {
    margin: 0px 20px 20px 0px;
}

#class-search-column h5 {
    margin: 0px 0px 5px 0px;
}

#class-search-column input {
    width: 400px;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
}

#class-search-column select {
    width: 400px;
    height: 55px;
    font-size: 18px;
    padding-left: 10px;
}

#class-search-row {
    display: flex;
}

#class-search-row button {
    font-size: 18px;
    border: 1px solid #0d1c3d;
    border-radius: 35px;
    padding: 13px 15px 13px 15px;
    color: #0d1c3d;
    background-color: #f2f8fb;
    margin: 25px 5px 0px 0px;
    height: 50px;
}

#class-search-row button:hover {
    border: 2px solid #0074ad;
}

#class-search-row select:hover {
    cursor: pointer;
}

#woman-exercising {
    height: 350px;
    width: 450px;
    position: relative;
    padding-right: 40%;
}

.container-10c {
    padding-left: 10%;
}

#tools-for-you-header {
    display: flex;
    font-size: 20px;
}

#tools-for-you-header h3 {
    margin-left: 10px;
}

.tools-row {
    display: flex;
}

.tools-column {
    border: 1px solid #0d1c3d;
    border-radius: 6px;
    padding: 10px 10px 20px 10px;
    width: 28%;
    margin: 10px;
}

.tools-column h4 {
    font-size: 20px;
}

.tools-column a {
    text-decoration: none;
    color: #0074ad;
    vertical-align: text-bottom;
}

#view-more-tools {
    margin: 30px 0px 0px 0px;
    color:#0074ad;
    text-decoration: underline;
}

#view-more-tools:hover {
    color: #0d1c3d;
    cursor: pointer;
    transition: 0.2s;
}

.container-11c {
    margin: 80px 0% 0% 10%;
}

#related-articles {
    display: flex;
}

#related-articles h3 {
    font-size: 20px;
}

#related-articles button {
    font-size: 18px;
    border: 1px solid #0074ad;
    border-radius: 35px;
    padding: 13px 20px 13px 20px;
    color: #0074ad;
    background-color: #f2f8fb;
    margin: 20px 5px 0px 66%;
}




