    html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    }
    .container .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c81c2;
    }
    .drop-down-menus {
    color: #fff;
    margin-left: 10%;
    }
    #menu {
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 5px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    }
    #menu:hover {
    cursor: pointer;
    }
    #menu, .container select {
    background: #3c81c2;
    }
    .employers-and-brokers {
    margin-right: 10%;
    }
    .employers-and-brokers li {
    color: #fff;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    list-style: none;
    }
    #underline-link {
    text-decoration: none;
    color: #fff;
    }
    #underline-link:hover {
    text-decoration: underline;
    }
    #window-icon {
    top: 6px;
    position: relative;
    color: #fff;
    }
    .container-2 {
    background-color: #0d1c3d;
    display: flex;
    justify-content: space-between;
    }
    #logo {
    width: 420px;
    height: 50px;
    display: flex;
    margin: 20px 0px 40px 10%;
    border: 0px solid #ccc;
    box-sizing: border-box;
    }
    .login-options {
    margin: 18px 10% 0px 0px;
    }
    .register {
    border-radius: 20px;
    text-decoration: none;
    color: #e6f2f7;
    background-color: #0d1c3d;
    border: 1px solid #e6f2f7;
    padding: 10px 13px 10px 13px;
    font-size: 18px;
    box-sizing: border-box;
    }
    .sign-in {
    text-decoration: none;
    color: #0d1c3d;
    background-color: #e6f2f7;
    border: 1px solid #164099;
    border-radius: 20px;
    padding: 1px 13px 10px 13px;
    font-size: 18px;
    box-sizing: border-box;
    }
    .profile-icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 5px;
    right: 4px;
    }
    button:hover {
    cursor: pointer;
    }
    .container-3 {
    background-color: #0d1c3d;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    }
    .option-list {
    margin-left: 7.5%;
    float: left;
    display: flex;
    }
    .option-list li {
    color: #000000;
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    }
    .option-list a:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: color 1s;
    }
    #white-hover-link {
    text-decoration: none;
    color: #fff;
    }
    #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    }
    #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    }
    .mobile-menu {
    display: none;
    position: absolute;
    bottom: -100px;
    right: 400px;
    width: 100%;
    }
    .open .bar1 {
    transition: opacity 1s;
    }
    .open .bar2 {
    transition: opacity 1s;
    }
    .open .bar3 {
    transition: opacity 1s;
    }
    .open .mobile-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    float: right;
    text-decoration: none;
    }
    .open .mobile-menu li {
    margin-bottom: 10px;
    margin-right: 5px;
    text-decoration: none;
    list-style-type: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #fff;
    width: 80px;
    padding: 10px;
    text-align: right;
    border: 3px;
    border-radius: 4px;
    }
    .open .mobile-menu a {
    color: #000;
    }
    .open .mobile-menu a li:hover {
    background-color: skyblue;
    opacity: 50%;
    transition: 1s;
    }
    .container-3 a:link {
    text-decoration: none;
    color: #000000;
    }
    .container-3 a:hover {
    text-decoration: none;
    color: #fff;
    }
    .search-container {
    margin-right: 10%;
    margin-bottom: 10px;
    }
    .search-bar {
    font-size: 18px;
    border: #3c81c2;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    padding-left: 10px;
    }
    .search-button {
    border-radius: 20px;
    text-decoration: none;
    color: #e6f2f7;
    background-color: #0d1c3d;
    border: 1px solid #e6f2f7;
    padding: 12px;
    font-size: 14px;
    margin: 0px 0px 10px 10px;
    letter-spacing: 1px;
    }
    .search-button-mobile {
    border-radius: 20px;
    text-decoration: none;
    color: #e6f2f7;
    background-color: #0d1c3d;
    border: 1px solid #e6f2f7;
    padding: 12px;
    font-size: 14px;
    display: none;
    }
    .container-4 {
    align-items: center;
    display: flex;
    }
    .friends-sitting {
    border: solid #757575 1px;
    border-radius: 3px;
    margin-top: 20px;
    position: relative;
    margin-left: 13%;
    }
    .todays-suggestions {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    align-self: end;
    z-index: 1;
    position: relative;
    margin-right: 1pc;
    margin-left: 1pc;
    padding: 15px 80px 2pc 1pc;
    right: 250px;
    bottom: 180px;
    color: #0d1c3d;
    }
    .todays-suggestions h2 {
    margin-left: 50px;
    margin: 0;
    padding: 30px 0px 30px 0px;
    }
    .todays-suggestions button {
    text-decoration: none;
    border: 1px solid #3c81c2;
    background-color: #e6f2f7;
    border-radius: 24px;
    margin: 10px 10px 0px 10px;
    padding: 14px;
    font-size: 18px;
    color: #3c81c2;
    }
    .todays-suggestions button:hover {
    text-decoration: underline;
    }
    .container-5 {
    display: flex;
    background-color: rgb(240, 240, 240);
    }
    .more-resources {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 13%;
    }
    .more-resources img {
    margin: 5px 10px 0px 0px;
    }
    .container-6 {
    display: flex;
    background-color: rgb(240, 240, 240);
    }
    .container-6 p {
    padding: 0px 0px 10px 10px;
    padding-left: 13%;
    }
    .container-7 {
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    margin-top: 100px;
    text-align: left;
    display: flex;
    padding: 0px 0px 0px 200px;
    }
    .column-container {
    text-decoration: none;
    color: #000;
    display: flex;
    }
    .column {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 332px;
    margin-right: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 500px;
    }
    .column img {
    width: 332px;
    height: 220px;
    }
    .column p, .column h2, .column h4 {
    padding: 10px;
    }
    .container-7 .column h4 {
    color: #3c81c2;
    font-size: 12px;
    font-weight: bold;
    }
    .container-7 .column p {
    font-weight: 500;
    }
    .container-8 {
    height: 100%;
    position: relative;
    margin-top: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    }
    .column-encyclopedia-container {
    border: 0px solid #757575;
    box-sizing: border-box;
    width: 40%;
    margin: 0px 50px 0px 50px;
    grid-column: span 6;
    display: flex;
    flex-wrap: wrap;
    }
    #child-container-8 {
    padding-left: 30px;
    }
    #icon-desc {
    margin-left: 30px;
    width: 300px;
    }
    #browse-button {
    border: 1px solid #3c81c2;
    border-radius: 16px;
    font-size: 14px;
    padding: 10px 6px 10px 6px;
    background-color: #e6f2f7;
    color: #3c81c2;
    margin-left: 30px;
    }
    .magnifying-glass-icon {
    padding: 20px 20px 0px 0px;
    }
    .drug-icon {
    padding: 20px 40px 0px 0px;
    }
    .container-9 {
    background-color: #0d1c3d;
    margin-top: 30px;
    }
    .kp-logo-mini {
    width: 12%;
    height: 12%;
    position: relative;
    left: 15%;
    margin-top: 40px;
    }
    .container-footer {
    background-color: #0d1c3d;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
    }
    .column-group {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8%;
    }
    #column-of-info {
    padding: 20px;
    border: 0px solid #757575;
    box-sizing: border-box;
    margin-left: 60px;
    }
    #list-of-info {
    list-style: none;
    color: #fff;
    font-size: 14px;
    width: 200px;
    }
    .container-footer-child {
    margin-left: 15%;
    }
    .follow-us {
    color: #fff;
    font-size: 14px;
    margin-bottom: 25px;
    }
    #sm-icon {
    margin-right: 10px;
    }
    .about-kp {
    padding-bottom: 40px;
    padding-top: 20px;
    color: #fff;
    font-size: 12px;
    width: 1200px;
    margin-bottom: 0;
    }
    /* Media Querries */
    
    @media screen and (max-width: 1700px) {
        .container-4 {
            display: unset;
            padding-left: 18%;
        }
        .friends-sitting {
            margin-left: 0;
        }
        .todays-suggestions {
            position: unset;
            padding-left: 18%;
        }
        br {
            display: none;
        }
        .more-resources {
            text-align: center;
        }
    
    }
    
    @media screen and (max-width: 1730px) {
        .todays-suggestions {
            box-sizing: border-box;
            flex: 1;
        }
    }
    
    @media screen and (max-width: 1517px) {
        .search-button {
            left: 410px;
            bottom: 43px;
            position: relative;
            display: unset;
        }
        .todays-suggestions {
        flex-wrap: wrap;
        margin-bottom: 20px;
        }
    }
    
    @media screen and (max-width: 1060px) {
        html, body {
            overflow-x: hidden;
        }
        .container {
        display: none;
        }
        #logo {
            width: 25%;
            height: 15%;
            margin-left: 20px;
        }
        .login-options {
            margin-right: 80px;
        }
        .option-list {
            display: none;
        }
        #hamburger-icon {
            display: block;
            position: absolute;
            left: 94%;
            top: 20px;
        }
        .search-container {
            margin: 0px 0px 20px 10px;
        }
        .search-button {
            display: none;
        }
        .search-button-mobile {
            display: unset;
        }
        .friends-sitting {
            display: none;
        }
        br {
            display: none;
        }
        .container-7 {
            padding-left: 100px;
        }
        .container-8 {
            display: unset;
        }
        .column-encyclopedia-container {
            width: 150%;
        }
        #column-encyclopedia {
            display: flex;
            flex-wrap: wrap;
        }
        .magnifying-glass-icon {
            display: none;
        }
        .drug-icon {
            display: none;
        }
    }
    
    @media screen and (max-width: 807px) {
        #hamburger-icon {
            left: 92%;
        }
        .column-encyclopedia-container {
            flex-wrap: wrap;
        }
    }