/*css selectors: element, attribute, pseudo */

/* element */
p {
    font-size: 10px;
}

#example {
    font-size: 10px;
}

/* attribute */

a[href="www.google.com"] {
    background-color: #df009d;
}

/* pseudo */

p:before {
    font-size: 12px;
}

p:after {
    font-size: 18px;
}



/* typography */

/* classifications
- fonts: serif, sans-serif, script, monospace, decorative
-font-face: defines every varable within a font */

/* weights 
- over 400 is bold */

p {
    font-weight: 200px;
}

/* add web fonts 
    html <link href= "|insert web-font link|" rel="stylesheet">
    css @import url(|insert link|);
*/


/* variable fonts
- can pack a full family of styles into one true-type file
- change the style not the color
- font scaling, font-variation
*/

.text {
    font-variation-settings: 'slnt' 5, 'ital' 5;
    font-optical-sizing: 'opsz' 10;
}