body {
    margin: 0;
    background: rgb(63, 55, 64);
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    display: flex;
}

nav h1 {
   font-size: 40px;
   padding: 16px 5% 16px 1%;
   margin: 0;
}   

nav img {
    width: 45px;
    height: 40px;
    margin: 1% 0 0 4.7%;
}

#menu-items {
    width: 60%;
}

#menu-items button {
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    transition: 0.3s ease-in;
    border: none;
}

#menu-items button:hover {
    cursor: pointer;
    background: rgb(39, 38, 39);
}

#job-listings-container {
    margin: 0 4%;
}

#job-listings-container h1 {
    text-align: center;
}

#job-listings {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#filter-container {
    padding-left: 18px;
}

.job {
    margin: 1%;
    border: 1px solid #8a8a8a;
    padding: 5px 30px;
    box-shadow: 0 0 5px #2b2b2b;
    background:rgb(55, 48, 56);
    width: 50%;
}

.job a {
    color: #fff;
    text-decoration: none;
}

select {
    background: transparent;
    color: #fff;
    padding: 5px;
    border: 1px solid #494949;
    box-shadow: 0 0 5px #2b2b2b;
    cursor: pointer;
}

.location-container {
    display: flex;
}

.location {
    width: 20px;
    height: 25px;
    padding: 13px 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.toggle-btn {
    background: transparent;
    border: 1px solid #8b8b8b;
    padding: 5px 10px; 
    color: #fff;
    margin-top: 10px;
    transition: 0.3s;
    font-size: 15px;
}

.toggle-btn:hover {
    cursor: pointer;
    background-color: #818181;
}

.footer {
    width: 100%;
    height: 250px;
    background:rgb(14, 12, 15);
    margin-top: 50px;
    display: flex;
    padding: 20px;
}

.child-container {
    margin-left: 8%;
}

.child-container h3 {
    font-size: 18px;
}

.child-container a {
    text-decoration: none;
    color: #ffffffc0;
    transition: 0.3s;
}

.child-container a:hover {
    color: #ffffff86;
}

.social-media-container {
    width: 100%;
    background:rgb(14, 12, 15);
    padding: 0 0 50px 9%;
}
.social-media-container img {
    width: 30px;
}