body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#header-container {
    background-color: #c4f8b6;
    display: flex;
    padding-left: 40%;
}

#header-container h1 {
    font-size: 50px;
}

#header-container img {
    width: 70px;
    height: 70px;
    padding: 20px 0px 0px 20px;
}

.fill-out-row {
    display: flex;
    padding-left: 13%;
}

.fill-out-row-second-page {
    display: flex;
    display: none;

}

.fill-out-row-third-page {
    display: flex;
    display: none;
}

.fill-out-row-last-page {
    display: none;
}

.fill-out-column {
    padding-left: 30px;
}

.fill-out-field {
    font-size: 30px;
}

.fill-out-field h5 {
    margin-bottom: 10px;
}

.fill-out-field input {
    font-size: 25px;
    padding: 5px;
    width: 85%;
}

.fill-out-field select {
    font-size: 20px;
    padding: 9px;
    width: 90%;
}

.fill-out-field select:hover {
    cursor: pointer;
}

.fill-out-row-last-page h5 {
    margin-bottom: 10px;
    font-size: 30px;
}

.fill-out-row-last-page input {
    width: 79.5%;
    font-size: 30px;
    padding: 5px;
}


.progress-container {
    margin: 70px 11.5% 0px 15%;
    display: flex;
    position: relative;
    padding: 0;
}

.progress-bar-empty {
    position: absolute;
    height: 4px;
    width: 370px;
    background-color: #ccc;
    border: none;
    z-index: -2;
    margin: 0;
    top: 20px;
    transform: translateY(-50%);
}
.progress-bar-fill {
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: rgb(36, 191, 67);
    border: none;
    z-index: -1;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
}

.step {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #ccc;
    color: #ccc;
    margin-left: 80px;
}

.checked {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(36, 191, 67);
    color: rgb(36, 191, 67);
}

.step.checked {
    color: rgb(36, 191, 67);
    border-color: rgb(36, 191, 67);

}

.step.checked.p {
    position: relative;
}


.container {
    display: flex;
}

#button-container {
    padding-left: 22.5%;
    padding-top: 70px;
}

#button-container button {
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-right: 10px;
}

#button-container button:hover {
    opacity: 0.9;
}

#button-container button:active {
    transform: scale(0.9,);
}

#button-container button:disabled {
    background-color: #ccc;
}

#back {
    background-color: rgb(36, 191, 67);
}

#next {
    background-color: rgb(36, 191, 67);
}

#submit {
    background-color: #b751dc;
}


#space-between {
    margin-bottom: 40px;
}

#completed {
    display: none;
}

#completed h1 {
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width: 1385px) {
    #app-container {
        margin-left: 0;
    }

    .fill-out-row{
        
        flex-wrap: wrap;
    }

    .fill-out-field h5 {
        width: 300px;
    }

}

@media screen and (max-width: 1147px) {
    .fill-out-row {
        padding-left: 0%;
    }

    .progress-container {
        margin-left: 2%;
    }

    #button-container {
        padding-left: 22.5%;
    }


}

@media screen and (max-width: 990px) {
    .fill-out-column {
        padding-right: 150px;
    }

    .progress-container {
        margin-left: 40px;
    }

    .fill-out-row-second-page.fill-out-field input {
        width: 200%;
    }

    .fill-out-row-third-page.fill-out-field input {
        width: 200%;
    }
}

@media screen and (max-width: 990px) {
    #button-container {
        padding-left: 5%;
    }
}

@media screen and (max-width: 959px) {
    #header-container {
        padding-left: 30%;
    }

    .fill-out-row {
        display: unset;
    }

    .fill-out-column {
        padding-right: 20px;
    }

    .fill-out-row {
        padding-left: 13%;
    }

    #button-container {
        margin-left: 9%;
    }

    .fill-out-field select {
        width: 98%;
    }

    .fill-out-field input {
        width: 96.5%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        display: unset;
        padding-left: 30px;
    }

    #button-container {
        margin-left: 25%;
    }
}

@media screen and (max-width: 550px) {
    #header-container {
        padding-left: 20%;
    }

    .fill-out-column {
        padding-left: 30px;
    }
}
