/*Last updated : 12/22 
Developer: Luz D Saucedo / Wendy Rodriguez */
/*Last updated : 12/22 
Developer: Luz D Saucedo / Wendy Rodriguez */
.test {
  aspect-ratio: 21/9;
  width: fit-content;
  height: fit-content; }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .test {
      aspect-ratio: 4/3; } }
  @media screen and (min-width: 769px) {
    .test {
      aspect-ratio: 16/9; } }
  @media screen and (max-width: 600px) {
    .test {
      aspect-ratio: 1/1; } }

@-moz-document url-prefix() { }

/* neutral-icon-circle-lg mixin */
@-moz-document url-prefix() { }

/* neutral-icon-circle-lg mixin */
.prev-next-link:before, .prev-next-link:after {
  content: " ";
  display: table; }

.prev-next-link:after {
  clear: both; }

.prev-next-link:last-child {
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .prev-next-link:last-child {
      margin-bottom: 40px; } }

.prev-next-link .row {
  display: flex;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .prev-next-link .row {
      margin-bottom: 20px; } }

@media screen and (max-width: 600px) {
  .prev-next-link .column-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .prev-next-link .column-6:last-child {
      margin-right: 0; } }
  @media screen and (max-width: 600px) and (max-width: 600px) {
    .prev-next-link .column-6 {
      width: 100%; } }
  @media screen and (max-width: 600px) and (max-width: 600px) {
    .prev-next-link .column-6 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 47.45641%;
      margin-right: 15px; }
      .prev-next-link .column-6:last-child {
        margin-right: 0; }
      .prev-next-link .column-6:nth-child(2n) {
        margin-right: 0; }
      .prev-next-link .column-6:nth-child(2n+1) {
        clear: left; } }
  @media only screen and (max-width: 600px) and (max-width: 400px) {
    .prev-next-link .column-6 {
      width: 46.456406%; } }

.prev-next-link .slide-left {
  float: left; }

.prev-next-link .slide-right {
  float: right;
  text-align: right; }

.prev-next-link .prev-next-link-item {
  margin-top: 30px; }
  @media screen and (max-width: 768px) {
    .prev-next-link .prev-next-link-item {
      margin-top: 20px; } }

.prev-next-link .prev-next-link-text {
  margin-top: 15px; }
  @media screen and (max-width: 768px) {
    .prev-next-link .prev-next-link-text {
      margin-top: 10px; } }

@media screen and (max-width: 600px) {
  .prev-next-link .hide-mobile {
    display: none; } }


/*Last updated : 12/22 
Developer: Luz D Saucedo / Wendy Rodriguez */
/*Last updated : 12/22 
Developer: Luz D Saucedo / Wendy Rodriguez */
.test {
  aspect-ratio: 21/9;
  width: fit-content;
  height: fit-content; }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .test {
      aspect-ratio: 4/3; } }
  @media screen and (min-width: 769px) {
    .test {
      aspect-ratio: 16/9; } }
  @media screen and (max-width: 600px) {
    .test {
      aspect-ratio: 1/1; } }

@-moz-document url-prefix() { }

/* neutral-icon-circle-lg mixin */
@-moz-document url-prefix() { }

/* neutral-icon-circle-lg mixin */
.regionPicker .region-select-radio-options fieldset {
  border-width: 0 !important; }

.mobile-menu .navigational-select-dropdown {
  color: #ffffff; }

.region-picker-container > div.region-picker > .regionPicker > .navigational-select-dropdown__list {
  background-color: #ffffff; }
  .region-picker-container > div.region-picker > .regionPicker > .navigational-select-dropdown__list > .navigational-select-value {
    line-height: 1.33;
    border: none;
    background-color: #ffffff; }
    .region-picker-container > div.region-picker > .regionPicker > .navigational-select-dropdown__list > .navigational-select-value > a {
      line-height: inherit !important; }
    .region-picker-container > div.region-picker > .regionPicker > .navigational-select-dropdown__list > .navigational-select-value:hover {
      background-color: #0078b3; }

.region-picker-container > div.region-body-picker > .regionBodyPicker > .navigational-select-dropdown__list > .navigational-select-value {
  border: none; }


/*Last updated : 12/22 
Developer: Luz D Saucedo / Wendy Rodriguez */
/*Last updated : 12/22 
Developer: Luz D Saucedo / Wendy Rodriguez */
.test {
  aspect-ratio: 21/9;
  width: fit-content;
  height: fit-content; }
  @media screen and (min-width: 601px) and (max-width: 768px) {
    .test {
      aspect-ratio: 4/3; } }
  @media screen and (min-width: 769px) {
    .test {
      aspect-ratio: 16/9; } }
  @media screen and (max-width: 600px) {
    .test {
      aspect-ratio: 1/1; } }

@-moz-document url-prefix() { }

/* neutral-icon-circle-lg mixin */
@-moz-document url-prefix() { }

/* neutral-icon-circle-lg mixin */
.video-body {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.video-body embed,
.video-body iframe,
.video-body object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-player-container .video-footer {
  float: left;
  width: 100%;
  display: block;
  text-align: right; }
  .video-player-container .video-footer .video-footer-left {
    float: left;
    display: block;
    text-align: left; }
    .video-player-container .video-footer .video-footer-left #show-transcript {
      text-decoration: none; }
    .video-player-container .video-footer .video-footer-left #hide-transcript {
      text-decoration: none; }
    .video-player-container .video-footer .video-footer-left img {
      height: 1em;
      fill: currentColor;
      margin-bottom: -0.13em;
      margin-left: 0.3em; }

.video-player-container .transcript-content-container {
  margin-top: 3em;
  width: 100%; }

.video-player-container a.skipVideoPlayer.screenreader-only:focus {
  position: relative;
  clip-path: inset(-50%); }


